*{
  margin: 0;
  padding: 10;
  font-family: 'Noto Serif SC', serif;
}

* {box-sizing: border-box}
body, html {
  height: 98%;
  margin: 0;
  font-family: Arial;
}
.tablink {
  color: #805033 ;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #B7A9D4;
}

.tabcontent {
  background-color: #b3c3ff;
  color: #7D4550;
  background-color: #b3c3ff;
  padding: 100px 20px;
  height: 100%;

}

#About {background-color: #F5F5DD; height: auto !important;
    min-height: 100%;} 
#Research {background-color: #e9ddf5; height: auto !important;
    min-height: 100%;}
#Contact {background-color: #e9ddf5; height: auto !important;
    min-height: 100%;}
#Clips {background-color: #e9ddf5; height: auto !important;
    min-height: 100%;}
#Personal {background-color: #e9ddf5; height: auto !important;
    min-height: 100%;}

