*{
  margin: 0;
  padding: 10;
  font-family: 'Noto Serif SC', serif;
  color: #187795
  background-color: #f5f0ff;
}

* {box-sizing: border-box}
body, html {
  height: 98%;
  margin: 0;

}
.tablink {
  background-color: #f3f0ff;
  color: #187795;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #B3C3FF;
}

.tabcontent {
  color: #7D4550;
  padding: 100px 20px;
  height: 100%;

}

#About {background-color: #E9DDF5; height: auto !important;
    min-height: 100%;} 
#Research {background-color: #E9DDF5; height: auto !important;
    min-height: 100%;}
#Contact {background-color: #E9DDF5; height: auto !important;
    min-height: 100%;}
#Clips {background-color: #E9DDF5; height: auto !important;
    min-height: 100%;}
#Personal {background-color: #E9DDF5; height: auto !important;
    min-height: 100%;}

